[Unit]
Description=crontab-ui
[Service]
Type=simple
Environment=HOST=0.0.0.0
Environment=PORT=9000
ExecStart=/usr/bin/crontab-ui
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
